* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Victor Mono', monospace;
}

.home,
.about,
.projects,
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-family: 'Victor Mono', monospace;
  font-size: 3rem;
}

.about {
  background-image: url('/public/image2.jpeg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #22226e;
  font-family: 'Victor Mono', monospace;
  font-size: 100px;
}

.projects {
  background-image: url('/public/image1.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #22226e;
  font-family: 'Victor Mono', monospace;
  font-size: 100px;
}

.contact {
  background-image: url('/public/image2.jpeg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #22226e;
  font-family: 'Victor Mono', monospace;
  font-size: 100px;
}

